@font-face {
    font-family: Roboto;
    src: url("assets/fonts/Roboto.ttf");
  }
  * {
    box-sizing: border-box;
  }
  *{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  html {
    scroll-behavior: smooth;
  }